certifi==2019.11.28
chainer==6.5.0
chardet==3.0.4
Click==7.0
cycler==0.10.0
filelock==3.0.12
Flask==1.1.1
Flask-Cors==3.0.8
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
MarkupSafe==1.1.1
matplotlib==3.1.2
numpy==1.18.1
opencv-contrib-python==4.1.2.30
protobuf==3.11.2
pyparsing==2.4.6
python-dateutil==2.8.1
requests==2.22.0
six==1.13.0
typing==3.6.6
typing-extensions==3.6.6
urllib3==1.25.7
Werkzeug==0.16.0
